.workout-elem-base {
  height: 60px;
  width: 400px;
  border-radius: 11px;
}

.workout-elem-container {
  position: relative;
  margin: 5px;
}

.workout-elem {
  background-color: rgb(57, 119, 160);
  position: absolute;
  /* clip-path: padding-box; */
  /* padding-right: -50px; */
  z-index: 3;
}

.workout-text {
  background-color: rgba(57, 119, 160, 0);
  position: absolute;
  z-index: 5;
}

.workout-elem-background {
  background-color: rgb(134, 180, 211);
  position: absolute;
  z-index: 1;
}

.page-title {
  font-size:xx-large;
}

.workout-list {
  position: relative;
}