.workout-elem-base {
  height: 60px;
  /* max-width: 400px; */
  width: 100%;
  border-radius: 11px;
}

.workout-elem-container {
  position: relative;
  margin: 5px;
}

.workout-elem {
  background-color: rgb(57, 119, 160);
  position: absolute;
  z-index: 3;
}

.workout-text {
  background-color: rgba(57, 119, 160, 0);
  position: absolute;
  z-index: 5;
  letter-spacing: 2px;
}

.workout-elem-background {
  background-color: rgb(134, 180, 211);
  position: absolute;
  z-index: 1;
}

.page-title {
  letter-spacing: 5px;
  font-weight: 200;
}

h1.page-title {
  font-size:xx-large;
}

h2.page-title {
  font-size:x-large;
}

.workout-list {
  position: relative;
  padding-right: 10px;
}

.single-day-status {
  height: 63px;
  width: 63px;
  font-size: 16px;
  background-color: lightgray;
}

.one-week-history {
  /* display: inline-block; */
}